/* 
#0081C9 
#5BC0F8
#86E5FF
#FFC93C - yellow
#E8F0F2 - gray
*/

.header {
  align-items: center;
  border-bottom: solid 1vh #FFC93C;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100vw;
  background-color: #86E5FF;
 
  
}

.logo {
  color:#0081C9;
  font-size: 5vh;
  font-weight:600;
  text-decoration: none;
}
.logo:hover {
  cursor: pointer;
}

