/* 
#0081C9 
#5BC0F8
#86E5FF
#FFC93C - yellow
#E8F0F2 - gray
*/

.header {
  align-items: center;
  border-bottom: solid 10px #FFC93C;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100vw;
}

.logo {
  color:#0081C9;
  font-size: 30px;
}

