.info-display {
    align-items: center;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0% 0% 1% 0%;
    width: 90%;
}

.info-wrapper {
    display: flex;
    font-size: medium;
    justify-content: flex-end;
    padding: 1.5%;
    width: 40%;
}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #5BC0F8;
    font-size: 14px;
}

.bottom {
    margin-bottom: 4%;
}