/* 
#0081C9- dark blue 
#5BC0F8
#86E5FF-light blue
#FFC93C - yellow
#E8F0F2 - gray
*/
* {
  scroll-behavior: smooth;
}
.app {
  background-color: #e8f0f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.display-area {
  border-top: solid 1vh #ffc93c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e8f0f2;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.home-btn {
  background-color: #0081c9;
  border-radius: 6px;
  border: none;
  color: white;
  height: 5vh;
  margin: 2% 0% 2% 42%;
  width: 20vw;
  font-size: x-large;
}

.home-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* everything under 730px */
@media screen and (max-width: 1068px) and (min-width: 770px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-btn {
    background-color: #0081c9;
    border-radius: 6px;
    border: none;
    color: white;
    height: 5vh;
    margin: 2% 0% 0% 42%;
    width: 20vw;
    font-size: x-large;
  }
}
/* Iphone view port  */
@media screen and (max-width: 770px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-btn {
    margin: 3% 0% 5% 42%;
    font-size: x-large;
  }
}
