/* 
#0081C9 
#5BC0F8
#86E5FF
#FFC93C - yellow
#E8F0F2 - gray
*/

.App {
  text-align: center;
}

.display-area {
  border-top: solid 10px #5BC0F8;
  display: flex;
  justify-content: space-around;
}

.home-btn {
  background-color: #0081C9;
  border: none;
  color: white;
  height: 5vh;
  margin: 10% 0% 0% 0%;
  width: 6vw;
}

.home-btn:hover {
  cursor: pointer;
  transform: scale(1.06);
}