/* 
#0081C9- dark blue 
#5BC0F8
#86E5FF-light blue
#FFC93C - yellow
#E8F0F2 - gray
*/

.app {
  background-color: #E8F0F2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.display-area {
  border-top: solid 1vh #FFC93C;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #E8F0F2;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4.0rem;
  justify-content: center;
}

.home-btn {
  background-color: #0081C9;
  border: none;
  color: white;
  height: 5vh;
  margin: 1% 0% 3% 45%;
  width: 8vw;
}

.home-btn:hover {
  cursor: pointer;
  transform: scale(1.06);
}