.form {
  align-content: center;
  border-top: solid 10px #5BC0F8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50vh;
  width: 100vw;
}

.input-container{
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: center;

}

input {
  height: 5vh;
  opacity: 80%;
  width: 20vw;
}

.search {
  background-color: #0081C9;
  color: white;
  height: 5vh;
  margin: 5% 0% 0% 25%;
  width: 10vw;
}

.search:hover {
  cursor: pointer;
  transform: scale(1.06);
}